#
# home
#
[tasks.home]
desc = "apply home config"
cmds = ["tsk/run home"]

[tasks."home:aarch64-darwin"]
desc = "apply home-manager config"
cmds = ["home-manager switch --flake .#home:aarch64-darwin"]

[tasks."home:x86_64-linux"]
desc = "apply home-manager config"
cmds = ["home-manager switch --flake .#home:x86_64-linux"]

[tasks."home:brew"]
desc = "install homebrew packages"
dir = "homebrew/home"
cmds = ["brew bundle install --cleanup"]

#
# work
#
[tasks.work]
desc = "apply work config"
cmds = ["tsk/run work"]

[tasks."work:aarch64-darwin"]
desc = "apply work config"
cmds = ["home-manager switch --flake .#work:aarch64-darwin"]

[tasks."work:brew"]
desc = "run homebrew"
dir = "homebrew/home"
cmds = ["brew bundle install --cleanup"]

#
# nix
#
[tasks."nix:upgrade"]
desc = "upgrade nix"
cmds = ["sudo nix upgrade-nix"]

[tasks."flake:update"]
desc = "update flake"
cmds = ["nix flake update"]
